.logo{
  width: 10%
}

.botonGenero{
  margin-left: 40%;
  width:11%;
  height:83px;
  border-radius: 160px;
  line-height:80px;
  text-align: center;
  font-size: 15px;
  font-family: 'Bitter', serif;
  background-color: #CFD8DC;
  border-color: #B0BEC5;
  margin-top: 3%;
  position: absolute;
}
.textoBuscador{
  position: absolute;
  top: 10%;
  left: 70%;
  width: 10%;
  font-family: 'Bitter', serif;
  margin-left: 1%;
  padding-bottom: 1.5%;
  height: 2%;
}

.botonLogin{
  width:7%;
  height:13%;
  border-radius: 100px;
  line-height:100px;
  font-family: 'Bitter', serif;
  float: right;
  margin-right: 1%;
  margin-top: 2%;
  background-color: #CFD8DC;
  border-color: #B0BEC5;
  font-size: 15px;
}

.lupa{
  width: 2%;
  position: absolute;
  top: 10%;
  left: 81%;
}

.header{
  overflow: hidden;
  background-color: #FFD740;
}

body {
  background-color: #ECEFF1
}

.logoTMDb{
width: 40%;
opacity: 0.8;
align-items: center;

}
footer {
  background-color: #FFD740;
  overflow: hidden;
  bottom: 0;
  height: 120px;
  
  width: 100%
}
footer ul {
  width: 100%;
}
footer ul li {
  float: left;
  padding: 15px;
  width: 15%;
  position: relative;

}
.li-menu{
text-align: center;
margin-left: 140px;
top: 10px;

}
.li {
  position: relative;
  bottom: 15px;
  right: 45px;
}
.sofi {
 width: 20%;
}
.vicky {
  width: 20%;
}
.sere {
  width: 20%;
}
footer a {
text-decoration: none;
color: grey;
}
