.logo{
  width: 10%
}

.botonGenero{
  width: 10%;
  height: 10%;
  font-family: 'Bitter', serif;
  margin-left: 20%;
  margin-right: 2%;

}

.botonEnviar{
  width: 10%;
  height: 10%;
  font-family: 'Bitter', serif;
  margin-left: 1%;
  padding-bottom: 10%;
  
}

.botonLogin{
  width:7%;
  height:13%;
  border-radius: 100px;
  line-height:100px;
  font-family: 'Bitter', serif;
  float: right;
  margin-right: 1%;
  margin-top: 2%;
  background-color: #CFD8DC;
  border-color: #B0BEC5;
}

.header{
  overflow: hidden;
  background-color: #FFD740;
}

body {
  background-color: #ECEFF1
}

.logoTMDb{
width: 40%;
opacity: 0.8;
align-items: center;
}
footer {
  background-color: #FFD740;
  overflow: hidden;
  bottom: 0;
  height: 120px;
  position: absolute;
  width: 100%
}
footer ul {
  width: 100%;
}
footer ul li {

  float: left;
  padding: 15px;
  width: 15%;

}
footer a {
text-decoration: none;
color: grey;
}
